{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["@babel/plugin-transform-react-jsx", {
      "pragma": "m",
      "pragmaFrag": "'['"
    }],
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "core": "./js/core",
        "components": "./js/ui/components",
        "ui": "./js/ui"
      }
    }],
    ["wildcard"]
  ]
}