{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [],
  "rules": {
    "capitalized-comments": ["error", "always", { "ignoreConsecutiveComments": true }],
    "arrow-body-style": ["error", "as-needed"]
  },
  "env": {
    "browser": true,
    "es2021": true
  }
}