.btn {
  border-radius: 0.25rem;
  border: none;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 0.17rem;
}

.btn-sm {
  border-radius: 0.25rem;
  border: none;
  padding-left: 0.7rem !important;
  padding-right: 0.7rem !important;
}

.modal-body {
  padding-top: 0 !important;
}

.form-no-margin .form-group {
  margin-bottom: 0;
}