/*
    Spectre Setup
 */

$control-size: 1.55rem;
$font-size: 0.7rem;

@import "./colors.scss";
@import "node_modules/spectre.css/src/spectre";
@import "./spectre.scss";

/*
    Other Imports
 */

@import "./atomic.scss";
@import "./dropdown.scss";

/*
    Toastify
*/

.toastify {
    position: absolute;
}

/*
    Scrollbar
*/

::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #eee;
}

::-webkit-scrollbar-thumb {
    background: #c2c2c2;
}

::-webkit-scrollbar-thumb:hover {
    background: #d1d1d1;
}

/*
    Common
 */

body {
    background-color: #f4f8f9;
}

.form-select {
    appearance: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.markdown {
    .code code {
        white-space: pre-wrap;
    }

    .code {
        margin-bottom: 1.75em;
    }

    h1 { font-size: 2em }
    h2 { font-size: 1.5em }
    h3 { font-size: 1.17em }
    h4 { font-size: 1em }
    h5 { font-size: 0.83em }
    h6 { font-size: 0.75em }
    h2, h3, h4, h5, h6 { margin-top: 0.75em; }
    hr {
        border: none;
        border-top: 0.05rem solid #f1f3f5;
        height: 0.05rem;
        margin: 1rem 0;
    }
}

.monaco-container {
  height: 100%;
}

// https://stackoverflow.com/a/71876526
.monaco-editor {
  position: absolute !important;
}